#
# YARSCMS (Apache)
#

RewriteEngine on

# Rewrite everything to index.php except it exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

# Errors
ErrorDocument 404 /index.php
ErrorDocument 401 /index.php
ErrorDocument 403 /index.php
ErrorDocument 500 /index.php

# Deny access to nginx config file
<files nginx.cfg>
	deny from all
</files>