#
# YARCMS (nginx)
#

server {

	# Adjust to your needs
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;

	# You may also want to change the server name
	server_name localhost;

	# Change the error log
	error_log  /var/log/nginx/nginx_error.log  warn;

	# Change this path
	root /the/path/to/YARCMS;


	index index.php;

	#
	# Lines below may stay unchanged
	# You may want to change the php method at the bottom
	#

	# rewite everything to index.html
	location / {
		try_files $uri $uri/ /index.php;
	}

	# deny specific paths
	location /wiki {
		deny all;
	}

	location /data {
		deny all;
	}

	# allow this one
	location  /data/template/basic/static {
		allow all;
	}

	# Error pages
	error_page 500 /index.php;
	error_page 404 /index.php;
	error_page 403 /index.php;

	# deny access to .htaccess
	location ~ /\.htaccess {
		deny all;
	}

	# Enable php
	location ~ \.php$ {
	    fastcgi_split_path_info ^(.+\.php)(/.+)$;
	    # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini

	#   # With php5-cgi alone:
	#   fastcgi_pass 127.0.0.1:9000;
	    # With php5-fpm:
	    fastcgi_pass unix:/var/run/php5-fpm.sock;
	    fastcgi_index index.php;
	    include fastcgi_params;
    }
}